.ul {
  padding: 0%;
}

.search-bar {
  width: 98%;
  background-color: rgb(224, 218, 218);
  border: none;
  border-radius: 5px;
  margin: 1%;
  background-image: url("../media/search_white_24dp.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.search-bar:focus {
  outline: none;
}
